<div class="projection">
  <div class="left">
    <app-users [projected]="true" (onProjection)="getAlbums($event)"></app-users>
  </div>
  <div class="right">
    <app-album-wrapper>
      <app-album *ngFor="let album of albums" [album]="album"></app-album>
    </app-album-wrapper>
  </div>
</div>
