<div class="survey-fill">
  <div class="survey__top">
    <mat-card>
      <div class="surveyTime" [ngClass]="{ red: textRed }">
        {{ timeString }}
      </div>
    </mat-card>
  </div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="questions">
        <mat-vertical-stepper #stepper>
          <mat-step *ngFor="let question of survey.questions; let i = index">
            <ng-template matStepLabel>{{ question.title }}</ng-template>
            <div
              *ngIf="question.answers.length > 1; else singleQuestion"
              class="checkbox-wrapper"
            >
              <mat-checkbox
                *ngFor="
                  let variant of questions.controls[i]['controls'] | keyvalue
                "
                color="primary"
                class="checkbox"
                [formControl]="variant.value"
                >{{ variant.key }}</mat-checkbox
              >
            </div>
            <ng-template #singleQuestion>
              <mat-radio-group
                [formControl]="questions.controls[i]"
                class="radio-group-wrapper"
              >
                <mat-radio-button
                  *ngFor="let variant of question.variants"
                  class="radio-wrapper"
                  [value]="variant"
                  color="primary"
                  >{{ variant }}</mat-radio-button
                >
              </mat-radio-group>
            </ng-template>
          </mat-step>
        </mat-vertical-stepper>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="btn-submit"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
