.surver-fill {
    box-sizing: border-box;
}

.survey__top {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 10px 5%;
    align-items: center;
}

.surveyTime {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 50px;
    font-size: 32px;
    font-weight: 700;
    color: #3f51b5;

    &.red {
        color: red;
    }
}

.checkbox-wrapper, .radio-group-wrapper {
    display: flex;
    flex-direction: column;
}

.radio-wrapper, .checkbox {
    margin: 10px;
}