<div class="toast-form-wrapper">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="toast-form">
      <mat-form-field class="input--full-width">
        <mat-label>Toast title</mat-label>
        <input formControlName="title" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full-width">
        <mat-label>Toast Content</mat-label>
        <input formControlName="content" ngDefaultControl matInput type="text" />
        <mat-error *ngIf="form.get('content').invalid">Content can not be empty</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Toast Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="slider-wrapper">
        <h5>Duration</h5>
        <mat-slider min="0" max="15" step="1" value="5" formControlName="duration" thumbLabel></mat-slider>
      </div>
      <div class="togglers">
        <mat-slide-toggle formControlName="canClose" color="primary" class="toggler">Show close button</mat-slide-toggle>
        <mat-slide-toggle formControlName="isDurationVisible" color="primary" class="toggler">Show duration</mat-slide-toggle>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Vertical Alignment</mat-label>
        <mat-select formControlName="verticalPosition">
          <mat-option *ngFor="let alignment of verticalAlignment" [value]="alignment">
            {{ alignment }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Horizontal Alignment</mat-label>
        <mat-select formControlName="horizontalPosition">
          <mat-option *ngFor="let alignment of horizontalAlignment" [value]="alignment">
            {{ alignment }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Generate</button>
    </form>
  </mat-card>
</div>
