.toast-form {
    display: flex;
    flex-direction: column;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.togglers {
    padding: 30px 0;
    display: flex;

    .toggler {
        margin-right: 30px;
    }
}