.post-create-wrapper {
    margin: 30px 0;
}

.post-create {
    width: 100%;
    padding: 20px 0;
}

.post-create__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

button {
    margin-bottom: 1.25rem;
}

.post-create__field {
    width: 80%;
}