<mat-card class="post-create-wrapper">
  <h2>Something new? Write a post!</h2>
  <form class="post-create" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="post-create__row">
      <mat-form-field class="post-create__field">
        <mat-label>Title</mat-label>
        <input formControlName="title" ngDefaultControl matInput type="text" />
        <mat-error *ngIf="form.get('title').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="post-create__row">
      <mat-form-field class="post-create__field">
        <mat-label>Body</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          formControlName="body"
        ></textarea>
        <mat-error *ngIf="form.get('body').invalid">Field is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Post</button>
    </div>
  </form>
</mat-card>
