.authors {
    padding: 30px;
}

.author-form {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        width: 150px;
    }

    .input--half {
        width: calc(45% - 75px);
    }

    @media(max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        button {
            width: 100%;
        }

        .input--half {
            width: 100%;
        }
    }
}