<div class="authors">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let author of authors" [selectable]="true" [removable]="true" (removed)="remove(author)">
      {{ author.name }} {{ author.surname}}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <form class="author-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input--half">
      <mat-label>Name</mat-label>
      <input formControlName="name" ngDefaultControl matInput type="text" />
    </mat-form-field>
    <mat-form-field class="input--half">
      <mat-label>Surname</mat-label>
      <input formControlName="surname" ngDefaultControl matInput type="text" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add new author</button>
  </form>
</div>

