<div class="book-create">
  <mat-card class="book-create-card">
    <form class="book-create-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Enter valid information about a book(Update):</h3>
      <mat-form-field class="input--full">
        <mat-label>Title</mat-label>
        <input formControlName="title" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>imageUrl</mat-label>
        <input formControlName="imageUrl" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-full">
        <mat-label>Realease Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="releaseDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Cost</mat-label>
        <input formControlName="cost" ngDefaultControl matInput type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="input--full">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input--full">
        <mat-label>Author</mat-label>
        <mat-select formControlName="author">
          <mat-option *ngFor="let author of authors" [value]="author">
            {{ author.name }} {{ author.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input--full">
        <mat-label>Genres</mat-label>
        <mat-select formControlName="genres" multiple>
          <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="btn-submit" class="book-create-button">
        Update Book
      </button>
    </form>
  </mat-card>
</div>
