<nav mat-tab-nav-bar class="app__nav">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"
     [routerLink]="link"
     > {{link}} </a>
</nav>
<div class="app__pages">
  <router-outlet></router-outlet>
</div>
