.calc-display {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;

  .text {
    width: 100%;
    height: 75px;
    font-size: 36px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
  }

  .text--prev {
    width: 100%;
    min-height: 25px;
    font-size: 16px;
    color: #4f4f4f;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
  }
}
