.register {
  margin: 0;
  box-sizing: border-box;
  
  .register-card {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f51b5;
    text-align: center;

    h1 {
      margin:  0 10px;
      @media(max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  .register-form {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .full {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.input--half {
  width: 45%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.input--full {
    width: 100%;
}

.button__group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    @media(max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

}

.register-button {
    width: 45%;
    @media(max-width: 768px) {
      width: 100%;
      margin-bottom: 10px;
    }
}