.genres {
    padding: 30px;
}
.genre-form {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        width: 150px;
    }

    .input--full {
        width: calc(100% - 180px);
    }

    @media(max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        button {
            width: 100%;
        }

        .input--full {
            width: 100%;
        }
    }
}