<div class="genres">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let genre of genres" [selectable]="true" [removable]="true" (removed)="remove(genre)">
      {{ genre }}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <form class="genre-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input--full">
      <mat-label>Genre Name</mat-label>
      <input formControlName="genre" ngDefaultControl matInput type="text" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add new genre</button>
  </form>
</div>
