.toast {
  z-index: 10000;
  position: absolute;
  width: 300px;
  height: 70px;
  margin: 5px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s linear;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;

  .toast__top__up {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .toast__close {
    width: 14px;
    height: 14px;
    position: relative;
    cursor: pointer;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 2px;
      border-radius: 1px;
      transform: rotate(135deg);
      background-color: #fff;
      top: 5.5px;
      left: 0;
    }

    &::after {
      transform: rotate(-135deg);
    }
  }

  .toast__top__content {
    font-size: 12px;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 5px;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #fff;
}

::ng-deep .mat-progress-bar-buffer {
  background: #8d8d8d;
}
