<div class="toast" [ngStyle]="style">
  <div class="toast__top">
    <div class="toast__top__up">
      <div class="title">
        <mat-icon class="icon">{{ icon }}</mat-icon> {{ toast.title || toast.type }}
      </div>
      <div *ngIf="toast.canClose" class="toast__close" (click)="deleteToast()"></div>
    </div>
    <div class="toast__top__content">
      {{ toast.content }}
    </div>
  </div>
  <div class="toast__bottom" *ngIf="toast.isDurationVisible && initialDuration">
    <mat-progress-bar mode="determinate" [value]="(toast.duration / initialDuration) * 100"></mat-progress-bar>
  </div>
</div>
