.button {
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border: none;
  outline: none;
  &__text {
    color: 20px;
    font-weight: 700;
    color: #fff;
  }

  &.btn {
    &--operational {
      background-color: #151515;
    }

    &--num {
      background-color: #000;
    }

    &--eq {
      background-color: #675320;
    }

    &--disabled {
      cursor: not-allowed;
      span {
        color: #999;
      }
    }
  }
}
