<div class="calculator">
  <div class="calculator__header">
    <div class="calculator__header__text">Calculator</div>
    <div class="calculator__header__operations">
      <div class="operation">─</div>
      <div class="operation">▢</div>
      <div class="operation">✕</div>
    </div>
  </div>
  <div class="calculator__top">
    <div class="calculator__top__left">
      <div class="calculator__menu"></div>
      <div class="calculator__top__text">Standard</div>
    </div>
    <div class="calculator__top__history-button">
      <img src="../../assets/images/clock.png" alt="clock"/>
    </div>
  </div>
  <app-calc-display></app-calc-display>
  <div class="panel">
    <div class="panel__item" *ngFor="let param of buttonParams">
      <app-calc-button [param]="param" (onButtonClick)="calcButtonClick($event)"></app-calc-button>
    </div>
  </div>
</div>
