.calculator {
  width: 315px;
  background: #212121;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 35px;
    padding: 5px;

    &__left {
      display: flex;
      align-items: center;
    }

    &__history-button {
      display: flex;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
        filter: invert(100%);
      }
    }
    .calculator__menu {
      position: relative;
      width: 15px;
      height: 1px;
      background: #fff;
      margin-right: 5px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        top: -4px;
        left: 0px;
        width: 15px;
        height: 1px;
        background: #fff;
      }

      &::after {
        top: 4px;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 35px;
    padding: 0 0 0 15px;

    &__operations {
      display: flex;
      justify-content: flex-end;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 30px;
      }
    }
  }

  .panel {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    &__item {
      align-items: center;
    }
  }
}
