<mat-card>
  <div class="post">
    <div class="post__left">
      <img src="/assets/images/avatar-placesholder.png" class="user-image" />
      <p>{{ username }}</p>
    </div>
    <div class="post__right">
      <div class="post-title">
        {{ post.title }}
      </div>
      <div class="post-body">
        {{ post.body }}
      </div>
      <div class="post-divider"></div>
      <div class="comments">
        <div class="comments__top" [ngClass]="{ active: showComments }">
          <mat-icon (click)="toggleShowComments()">comment</mat-icon>
        </div>
        <form class="comments-create" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <mat-form-field class="post-create__field">
            <mat-label>Title</mat-label>
            <input formControlName="title" ngDefaultControl matInput type="text" />
            <mat-error *ngIf="form.get('title').invalid">Field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="comment-create__field">
            <mat-label>Body</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="body"
            ></textarea>
            <mat-error *ngIf="form.get('body').invalid">Field is required</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Comment</button>
        </form>
        <div class="comments__bottom" *ngIf="showComments">
          <p *ngFor="let comment of comments">
            <span class="highlighted">Title: </span>{{ comment.title }} <br />
            <span class="highlighted">Body: </span>{{ comment.body }} <br />
            <span class="highlighted">From: </span>{{ comment.email }}
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
