.post {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.post__left{
    width: 20%;
    img {
        max-width: 100%;
        object-fit: contain;
        border: none;
        border-radius: 50%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post__right {
    width: 80%;
}

.post-title {
    padding: 5px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.post-body {
    padding: 10px 20px;
}

.post-divider {
    border-top: 1px solid rgba(0,0,0,.12);;
    margin: 10px 0;
}

.comments__top {
    color: rgba(0,0,0,.12);

    &.active {
        color: #3f51b5;
    }
}

.comments-create {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    button {
        margin-top: 10px;
    }
}

p {
    line-height: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
    &:last-child {
        border-bottom: none;
    }
}

.highlighted {
    display: inline-block;
    width: 48px;
    text-align: center;
    background: #3f51b5;
    padding: 0 3px;
    color: #fff;
    border-radius: 5px;
    margin: 2px;
}