<mat-card class="post-filter-wrapper">
  <h2>Filter posts</h2>
  <form class="post-filter" [formGroup]="form">
    <mat-form-field class="post-filter__field">
      <mat-label>Username</mat-label>
      <input formControlName="username" ngDefaultControl matInput type="text" />
      <mat-error *ngIf="form.get('username').invalid">Field is required</mat-error>
    </mat-form-field>
  </form>
</mat-card>
