.book-card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__top {
    display: flex;
    justify-content: center;
    img {
        height: 225px;
        margin: 0 auto;
        margin-bottom: 10px;
        object-fit: contain;
    }
}

.book__bottom {
    width: 100%;
    .author {
        padding: 10px 0;
    }
    .basket-btn {
        width: 100%;
    }
}

.desc-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    text-align: center;
    button {
        width: calc(100% - 90px);
    }
}

.actions {
    button {
        margin: 5px 0;
    }
}