<div class="books-wrapper">
  <mat-card class="paginator-card">
    <mat-paginator
      [length]="books.length"
      [pageSize]="10"
      class="book-list__paginator"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = handlePage($event)"
    >
    </mat-paginator>
  </mat-card>
  <div class="book-wrapper">
    <app-book *ngFor="let book of dataSource" [book]="book"></app-book>
  </div>
</div>
