.books-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.book-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media(max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    } 
}

.paginator-card {
    width: 100%;
    padding: 0;
    overflow: hidden;
}