<nav mat-tab-nav-bar class="back--primary app__nav">
  <div class="logo-wrapper">
    <a [routerLink]="['/store']">
      <img src="../../assets/images/logo.png" />
    </a>
  </div>
  <div class="nav__items">
    <a mat-tab-link *ngIf="!user" [routerLink]="['/auth/login']"> Login </a>
    <a mat-tab-link *ngIf="!user" [routerLink]="['/auth/register']"> Register </a>
    <a mat-tab-link *ngIf="user && user.isAdmin" [routerLink]="['/dashboard']"> Dashboard </a>
    <a mat-tab-link *ngIf="user && !user.isAdmin" [routerLink]="['/store/basket']"> Basket </a>
    <a mat-tab-link *ngIf="user" [routerLink]="['/auth/logout']"> Logout </a>
  </div>
</nav>
<router-outlet></router-outlet>
