.app__nav {
    padding: 10px;
    flex-wrap: nowrap;

    .logo-wrapper {
        margin-left: 30px;
        img {
            height: 50px;
            width: auto;
            object-fit: contain;
        }
    }

    .nav__items {
        display: flex;

        a {
            color: #fff;
            &:visited {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }
        }
    }

}

::ng-deep .mat-tab-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}