<div class="login">
  <div class="login--half">
    <h1>Welcome to the Assyl's Book Store!</h1>
  </div>
  <mat-card class="login--half login-card">
    <h1>Login</h1>
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="input--full">
        <mat-label>Username</mat-label>
        <input formControlName="username" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Password</mat-label>
        <input formControlName="password" ngDefaultControl matInput type="password" />
      </mat-form-field>
      
      <div class="button__group">
        <button mat-stroked-button color="primary" type="button" class="btn-submit" class="login-button" routerLink="/auth/register">
          Register
        </button>
        <button mat-raised-button color="primary" type="submit" class="btn-submit" class="login-button">
          Login
        </button>
      </div>
    </form>
  </mat-card>
</div>
