.surver-create {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.question-wrapper {
    margin: 30px 0;
}

.question-info {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    align-self: center;
    justify-self: flex-start;
    margin: 5px 0;

    @media(max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.question-info__cell {
    &:last-child {
        display: inline;
        justify-content: flex-end;
    }
}

.input--full-width {
    width: 100%;
}

.variants {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.variant {
    margin-bottom: 10px;
    width: 24%;
    min-width: 250px;
}

.btn-submit {
    width: 100%;
}