<div class="surver-create">
  <mat-card>
    <form
      class="survey-create-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
    >
      <mat-form-field class="input--full-width">
        <mat-label>Type number of questions</mat-label>
        <input
          formControlName="amountOfQuestions"
          ngDefaultControl
          matInput
          type="number"
        />
        <mat-error *ngIf="form.get('amountOfQuestions').invalid">
          Fill with a value equal or more than zero
        </mat-error>
      </mat-form-field>
      <div
        class="question-wrapper"
        *ngFor="let question of questions.controls; let i = index"
      >
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                question.get("title").value
                  ? question.get("title").value
                  : "Question " + (i + 1)
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="question-info">
              <div class="question-info__cell">
                <mat-form-field class="input--full-width">
                  <mat-label>Question Title</mat-label>
                  <input
                    [formControl]="question.get('title')"
                    ngDefaultControl
                    matInput
                    type="text"
                  />
                  <mat-error *ngIf="question.get('title').invalid">
                    Field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="question-info__cell">
                <mat-form-field class="input--full-width">
                  <mat-label>Question Time</mat-label>
                  <input
                    [formControl]="question.get('time')"
                    ngDefaultControl
                    matInput
                    type="number"
                  />
                  <mat-error *ngIf="question.get('time').invalid">
                    Field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="question-info__cell">
                <button
                  mat-flat-button
                  type="button"
                  color="primary"
                  (click)="deleteExactQuestionController(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div class="variants">
              <div
                class="variant"
                *ngFor="
                  let variant of question.get('variants')['controls'];
                  let j = index
                "
              >
                <mat-card>
                  <mat-form-field class="input--full-width">
                    <mat-label>Variant Title</mat-label>
                    <input
                      [formControl]="variant.get('title')"
                      ngDefaultControl
                      matInput
                      type="text"
                    />
                    <mat-error *ngIf="variant.get('title').invalid">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                  <mat-checkbox
                    color="primary"
                    [formControl]="variant.get('isAnswer')"
                    ngDefaultControl
                    >Is answer?</mat-checkbox
                  >
                  <button
                    mat-icon-button
                    type="button"
                    color="primary"
                    (click)="deleteExactVariantOfQuestion(i, j)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card>
              </div>
            </div>
            <button
              mat-flat-button
              color="primary"
              type="button"
              (click)="addVariantToQuestion(i)"
            >
              Add Variant
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="btn-submit"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
