<div class="basket-wrapper">
  <div class="basket__sections">
    <mat-card class="inserted-books-title"
      >WISHLIST: {{ books && books.length ? books.length + ' items' : '0 items' }}</mat-card
    >
    <div class="books-wrapper">
      <app-basket-book
        *ngFor="let book of books"
        [book]="book"
        [bought]="false"
        (buy)="handleCheckoutClick($event)"
        (remove)="handleRemoveClick($event)"
      ></app-basket-book>
    </div>
  </div>
  <div class="basket__sections">
    <mat-card class="inserted-books-title"
      >YOUR BOOKS: {{ checkout && checkout.length ? checkout.length + ' items' : '0 items' }}</mat-card
    >
    <div class="books-wrapper">
      <app-basket-book
        *ngFor="let book of checkout"
        [book]="book"
        [bought]="true"
      ></app-basket-book>
    </div>
  </div>
</div>
