.basket-wrapper {
    padding: 30px;
}

.books-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    @media(max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media(max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

}

.basket__sections {
    margin-bottom: 10px;
}