<mat-card class="label-card">
  FILTER BOOKS
</mat-card>
<mat-card class="genres-card">
  <div style="padding: 5px 0;">Genres</div>
  <div class="genre-wrapper" *ngFor="let genre of genres">
    <mat-checkbox color="primary" [value]="genre.selected" (click)="handleGenreChange(genre)">{{genre.name | titlecase}}</mat-checkbox>
  </div>
</mat-card>