.album {
    margin: 10px 0;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.photo {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}