<mat-expansion-panel hideToggle class="album" (opened)="getPhotos()">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ album?.id }}. {{ album?.title }} </mat-panel-title>
    <!-- <mat-panel-description> This is a summary of the content </mat-panel-description> -->
  </mat-expansion-panel-header>
  <mat-paginator
    [length]="photos.length"
    [pageSize]="pageSize"
    class="photos__paginator"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePage($event)"
  >
  </mat-paginator>
  <div class="photos">
    <div class="photo" *ngFor="let photo of dataSource">
      <img [src]="photo.thumbnailUrl" class="photo__img" alt="album photo" />
      <h5>{{ photo.title }}</h5>
    </div>
  </div>
</mat-expansion-panel>
