:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  .login--half {
    width: 50%;
    height: 80%;
    color: #fff;
    &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
        box-sizing: border-box;
        text-align: center;
        @media (max-width: 768px) {
          display: none;
        }
    }
  }

  .login-card {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f51b5;
    text-align: center;

    h1 {
      margin: 0 10px;
    }

    @media (max-width: 768px) {
      width: 100%;
      h1 {
        font-size: 20px;
      }
    }
  }

  .login-form {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .full {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.input--half {
  width: 45%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.input--full {
  width: 100%;
}

.button__group {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
}

.login-button {
  width: 100%;
  margin-bottom: 30px;
}
