<div class="left">
  <app-post-filter></app-post-filter>
</div>
<div class="right">
  <app-post-create></app-post-create>
  <mat-paginator
    [length]="posts.length"
    [pageSize]="10"
    class="post-list__paginator"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePage($event)"
  >
  </mat-paginator>
  <div class="post-wrapper" *ngFor="let post of dataSource">
    <app-post [post]="post"></app-post>
  </div>
</div>
