:host {
  display: flex;
  justify-content: space-around;
  background: #3f51b5;
  min-height: 100vh;
}

.left {
  width: 30%;
}

.right {
  width: 60%;
}

.post-wrapper {
  margin-bottom: 30px;
}

.post-list__paginator {
  margin-bottom: 10px;
  border-radius: 4px;
}