<div class="register">
  <mat-card class="register-card">
    <h1>Welcome to Assyl's BookStore!</h1>
    <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="input--full">
        <mat-label>Username</mat-label>
        <input formControlName="username" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Email</mat-label>
        <input formControlName="email" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Password</mat-label>
        <input formControlName="password" ngDefaultControl matInput type="password" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Name</mat-label>
        <input formControlName="name" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-form-field class="input--full">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" ngDefaultControl matInput type="text" />
      </mat-form-field>
      <mat-checkbox formControlName="isAdmin" color="primary">Is Admin User?</mat-checkbox>
      <div class="address full">
        <mat-form-field class="input--half">
          <mat-label>Street</mat-label>
          <input [formControl]="form.get('address').get('street')" ngDefaultControl matInput type="text" />
        </mat-form-field>
        <mat-form-field class="input--half">
          <mat-label>Suite</mat-label>
          <input [formControl]="form.get('address').get('suite')" ngDefaultControl matInput type="text" />
        </mat-form-field>
        <mat-form-field class="input--half">
          <mat-label>City</mat-label>
          <input [formControl]="form.get('address').get('city')" ngDefaultControl matInput type="text" />
        </mat-form-field>
        <mat-form-field class="input--half">
          <mat-label>Zip Code</mat-label>
          <input [formControl]="form.get('address').get('zipcode')" ngDefaultControl matInput type="text" />
        </mat-form-field>
      </div>
      <div class="button__group">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          class="btn-submit"
          class="register-button"
          routerLink="/auth/login"
        >
          Login
        </button>
        <button mat-raised-button color="primary" type="submit" class="btn-submit" class="register-button">
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
