<mat-card class="book-card">
  <div class="book__top">
    <img [src]="book.imageUrl" />
  </div>
  <div class="book__bottom">
    <div class="info">
      <div class="desc-item title">
        {{ book.title }}
      </div>
      <div class="desc-item">
        Author:
        <button mat-raised-button color="primary" class="description-button">
          {{ book.author.name }} {{ book.author.surname }}
        </button>
      </div>
      <div class="desc-item">
        Price:
        <button mat-raised-button color="primary" class="description-button">
          {{ book.price.cost }} {{ book.price.currency }}
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" class="basket-btn" (click)="addToBasket()" *ngIf="!isAdminUser">ADD TO BASKET</button>
  </div>
</mat-card>
