.book-list__top {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 50px;
}

.list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    @media(max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media(max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media(max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
    } 
}

.book-card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__top {
    display: flex;
    justify-content: center;
    img {
        height: 225px;
        margin: 0 auto;
        margin-bottom: 10px;
        object-fit: contain;
    }
}

.book__bottom {
    width: 100%;
    .author {
        padding: 10px 0;
    }
    .basket-btn {
        width: 100%;
    }
}

.desc-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    text-align: center;
    button {
        width: calc(100% - 90px);
    }
}

.actions {
    button {
        margin: 5px 0;
    }
}