<div class="book-list">
  <div class="book-list__top">
    <a mat-raised-button color="primary" [routerLink]="['/dashboard/books/create']">Create new</a>
  </div>
  <div class="list-wrapper">
    <mat-card class="book-card" *ngFor="let book of books">
      <div class="book__top">
        <img [src]="book.imageUrl" />
      </div>
      <div class="book__bottom">
        <div class="info">
          <div class="desc-item">
            {{ book.title }}
          </div>
          <div class="desc-item">
            Author:
            <button mat-raised-button color="primary" class="description-button">
              {{ book.author.name }} {{ book.author.surname }}
            </button>
          </div>
          <div class="desc-item">
            Price:
            <button mat-raised-button color="primary" class="description-button">
              {{ book.price.cost }} {{ book.price.currency }}
            </button>
          </div>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" class="basket-btn" (click)="editBook(book)">Edit Book</button>
          <button mat-raised-button color="primary" class="basket-btn" (click)="removeBook(book)">Remove Book</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
