<div class="main-wrapper">
  <mat-card>
    <nav mat-tab-nav-bar class="dashboard__nav">
      <a
        mat-tab-link
        *ngFor="let link of links"
        (click)="onClick(link.link)"
        [active]="activeLink.link == link.link"
        href="javascript:void(0)"
      >
        {{ link.title }}
      </a>
    </nav>
    <div class="outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
