<div class="survey-results">
  <mat-card>
    <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let question">{{ question.title }}</td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Earned score</th>
        <td mat-cell *matCellDef="let question">{{ question.score }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="overall">
      <mat-card>
        <mat-progress-bar mode="determinate" [value]="overall"></mat-progress-bar>
        <button mat-raised-button color="primary">Overall: {{overall}}%</button>
      </mat-card>
    </div>
  </mat-card>
</div>
