.survey-results {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

table {
    width: 100%;
}

.overall {
    margin: 10px 0;
    button {
        margin: 10px 0;
        font-weight: 700;
        width: 100%;
    }
}
