.main-wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 75px);

    .filter-wrapper {
        width: 300px;
    }

    .list-wrapper {
        width: calc(100% - 330px);
    }

    @media(max-width: 1024px) {
        flex-direction: column;
        justify-content: flex-start;

        .filter-wrapper {
            width: 100%;
            margin-bottom: 10px;
        }
    
        .list-wrapper {
            width: 100%;
        }
    }
}